// Styling for the portfolio grid section
.portfolio {
  margin-bottom: -30px;
  .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 30px;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0.2em 0.4em 1em rgba($color: #000000, $alpha: 0.3);

    &-caption {
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition-base;
      opacity: 0;
      background-color: fade-out($primary, 0.1);
      &:hover {
        opacity: 1;
      }
      &-content {
        font-size: 1.5rem;
      }
    }

    &-img {
      &-container {
        padding-top: 72%;
        position: relative;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: scale-down;
      /* bottom: 0;
      right: 0; */
      max-width: 100%;
      max-height: 100%;
      padding: 1rem;
    }
  }

  .portfolio-item:hover .portfolio-item-caption {
    opacity: 1;
    z-index: 100;
  }

  &-vid-preview {
    width: 100%;
    padding-bottom: 2rem;
  }
}

// Styling for the portfolio modals
.portfolio-modal {
  .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
  .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: $primary;
    opacity: 1;
  }
}
